@import '@fontsource-variable/raleway';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer utilities {
  .custom-scrollbar {
    scrollbar-width: thin; /* Firefox: barra delgada */
    scrollbar-color: #d1d5db transparent; /* Firefox: colores */
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 8px; /* Ancho de la barra de desplazamiento */
    height: 8px; /* Altura de la barra de desplazamiento horizontal */
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #9ca3af; /* Color del "pulgar" de la barra */
    border-radius: 4px; /* Bordes redondeados */
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: transparent; /* Fondo de la barra */
  }

  .custom-scrollbar::-webkit-scrollbar-corner {
    background-color: transparent; /* Esquinas entre scrollbars */
  }
}

select {
  background-color: #fff;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.button-primary-transition {
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

.header-width-max {
  width: calc(100% - 80px);
}

.header-width-min {
  width: calc(100% - 260px);
}
